<%= link_to 'New Event', new_event_path %>
<%= button_to "Delete All", bulk_delete_events_path, :method => :post %>

<%= form_tag events_path, :method => :get do %>
  <%= text_field_tag "search" %>
  <%= submit_tag "Search" %>
<% end %>

<div id="events-page">
  <%= render @events %>
</div>
<div id="events-pagination">
  <%= paginate @events, remote: true %>
</div>
